body {
	font-family: 'Inconsolata', monospace;
}

.logoTitle{
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	height: 5.859375%;
}

.logoTitle h1{
	font-size: 50px;
	margin: 0;
}

.circle{
	border-radius: 50%;
	width: 60px;
	height: 60px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border: 1px solid #000;
	margin-right: 8px;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 3.41796875%;
}

.links a{
	background: #D9D9D9;
	border-radius: 38px;
	font-size: 30px;
	width: 88px;
	text-decoration: none;
	color: #000;
	margin: 0;
	margin-right: 51px;
}

.links svg{
	margin-right: 3px;
}

.links select{
	background: #D9D9D9;
	border-radius: 6px;
	width: 154px;
	text-decoration: none;
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	border: none;
}

.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: 398px 398px 398px;
  column-gap: 22px;
  row-gap: 34px;
  margin: 0 auto;
  margin-top: 32px;
  width: 1238px;
}

.logEntryCard{
	display: grid;
	grid-template-columns: 144px 246px;
	column-gap: 8px;
	background: #D9D9D9;
	border: 2px solid #000;
	border-radius: 28px;
}

.thumbnail{
	margin-top: 22px;
	margin-left: 17px;
}

.logEntryCard h1{
	font-size: 30px;
	margin: 0;
	margin-top: 26px;
}

.logEntryCard h2{
	font-size: 20px;
	margin: 0;
	margin-right: 76px;
}

.logEntryCard p{
	font-size: 17px;
	color: #343434;
	margin: 0;
	margin-right: 28px;
	margin-top: 12px;
}

.logEntryCard button{
	font-size: 17px;
	display: block;
	background: #7E7E7E;
	border-radius: 20px;
	border: 2px solid #000;
	width: 127px;
	height: 30px;
	font-family: 'Inconsolata', monospace;
	text-decoration: none;
	color: #000;
	text-align: center;
	margin: 0;
	margin-left: 17px;
	margin-top: 12px;
}

.logEntryCard button:hover{
	background: #fff;
	border-radius: 20px;
	border: 2px solid #000;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(217, 217, 217, 0.6);
}

.modalContent{
	margin: auto;
	display: flex;
	width: 80%;
	justify-content: center;
}

.modalContent i{
	margin: 0;
	margin-top: 14px;
	margin-left: 14px;
}

.logEntry{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 1238px;
	margin: 0;
	margin-top: 127px;
	margin-left: 101px;
	margin-right: 101px;
	background-color: #D9D9D9;
	border: 2px solid #000;
	border-radius: 28px;
}

.modalHeader{
	margin: 0;
	margin-top: 32px;
}

.modalBody{
	margin: 0;
	margin-top: 28px;
	margin-bottom: 28px;
	width: 1072px;
}

.modalHeader h1{
	font-size: 60px;
	margin: 0;
}

.modalBody p{
	font-size: 25px;
	margin: 0;
}
